/*---------------------------------------------------------------------
File Name: style.css
---------------------------------------------------------------------*/

/*---------------------------------------------------------------------
basic
---------------------------------------------------------------------*/

body {
     position: absolute;
     padding: 0;
     width: 100vw;
     height: 100vh;
     overflow: hidden;
}
